.upload_panel_wrapper{
    margin: 10px;
}
.upload_panel_wrapper input{
    width:100%;
    cursor: pointer;
}

.upload-img-popup{
    margin-top: 5px;
    background-color: #002663;
    height: 40px;
    border: none;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.uploaded-images-wrapper{

}
.uploaded-images-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.uploaded-image-item{
   margin: 3px;

}
.uploaded-image-item img{
    width: 100px;
    height: 100px;
    border: 2px solid darkgrey;
    border-radius: 5px;
    cursor: pointer;
}

.uploaded-image-item img:hover{
    border-color: #002663;
}