.editor-main-wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.fabric-editor-container{
    height: calc(100% - 65px);
}
.fabric-editor-pro{
    width: 100%;
    height: 100%;
}
.canvas-main-wrapper{
    /*width: 70%;*/
    /*margin-left: 25px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
    overflow: auto;
}
.canvas-editor-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.canvas-right-wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(249, 249, 249);
}